@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Geist";
    src: url("/fonts/Geist/Geist-VariableFont_wght.ttf") format("truetype");
}

:root {
    font-family: "Geist", system-ui, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--bg-primary);

    /* Theme ===================== */

    --c1: #ffffff;
    --c2: #f0f0f0;
    --c2a: #dbdbdb;
    --c2b: #c7c7c7;
    --c3: #8B8B90;
    --c4: #09090B;
    --cp: #d02f4f;

}

body {
    background: var(--c1);
    color: var(--c4);
}

h1, h2, h3, h4, h5, h6,
p, a, span {
    color: var(--c4);
}

/* .page {
    @apply bg-red;
} */