@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Geist";
    src: url("/fonts/Geist/Geist-VariableFont_wght.ttf") format("truetype");
}

:root {
    font-family: "Geist", system-ui, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--bg-primary);

    /* Theme ===================== */

    --c1: #09090B;
    --c2: #27272A;
    --c3: #A1A1AA;
    --c4: #FAFAFA;

    --c1e: #111113;
    --c2e: #323236;
    --c3e: #75757c;
    --c4e: #cbcacf;

    --cp: #ea4364;

}

body {
    background: var(--c1);
    color: var(--c4);
}

h1, h2, h3, h4, h5, h6,
p, a, span {
    color: var(--c4);
}

/* .page {
    @apply bg-red;
} */